<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
        <key>PreferenceSpecifiers</key>
        <array>
                <!--<dict>
                        <key>Type</key>
                        <string>PSTextFieldSpecifier</string>
                        <key>Title</key>
                        <string>Editable Text</string>
                        <key>Key</key>
                        <string>Key1</string>
                        <key>DefaultValue</key>
                        <string>Value1</string>
                </dict>
                <dict>
                        <key>Type</key>
                        <string>PSTitleValueSpecifier</string>
                        <key>Title</key>
                        <string>Non-Editable Text</string>
                        <key>Key</key>
                        <string>Key2</string>
                        <key>DefaultValue</key>
                        <string>Value2</string>
                </dict>
                <dict>
                        <key>Type</key>
                        <string>PSGroupSpecifier</string>
                        <key>Title</key>
                        <string>Slider Group</string>
                </dict>
                <dict>
                        <key>Type</key>
                        <string>PSSliderSpecifier</string>
                        <key>Key</key>
                        <string>Key3</string>
                        <key>DefaultValue</key>
                        <integer>50</integer>
                        <key>MinimumValue</key>
                        <integer>0</integer>
                        <key>MaximumValue</key>
                        <integer>100</integer>
                </dict>
                <dict>
                        <key>Type</key>
                        <string>PSGroupSpecifier</string>
                        <key>Title</key>
                        <string>Another Group</string>
                </dict>
                <dict>
                        <key>Type</key>
                        <string>PSToggleSwitchSpecifier</string>
                        <key>Title</key>
                        <string>Toggle</string>
                        <key>Key</key>
                        <string>Key4</string>
                        <key>TrueValue</key>
                        <string>Enabled</string>
                        <key>FalseValue</key>
                        <string>Disabled</string>
                        <key>DefaultValue</key>
                        <string>Enabled</string>
                </dict>
                <dict>
                        <key>Type</key>
                        <string>PSMultiValueSpecifier</string>
                        <key>Title</key>
                        <string>MultiValue</string>
                        <key>Key</key>
                        <string>Key5</string>
                        <key>Titles</key>
                        <array>
                            <string>one</string>
                            <string>two</string>
                            <string>three</string>
                            <string>four</string>
                        </array>
                        <key>Values</key>
                        <array>
                            <integer>1</integer>
                            <integer>2</integer>
                            <integer>3</integer>
                            <integer>4</integer>
                        </array>
                        <key>DefaultValue</key>
                        <integer>2</integer>
                </dict>-->
                <dict>
                        <key>Type</key>
                        <string>PSMultiValueSpecifier</string>
                        <key>Title</key>
                        <string>Table Color</string>
                        <key>Key</key>
                        <string>TableColor</string>
                        <key>Titles</key>
                        <array>
                            <string>White</string>
                            <string>Gray</string>
                            <string>Red</string>
                        </array>
                        <key>Values</key>
                        <array>
                            <integer>1</integer>
                            <integer>2</integer>
                            <integer>3</integer>
                        </array>
                        <key>DefaultValue</key>
                        <integer>1</integer>
                </dict>
        </array>
</dict>
</plist>